//! **************************************************************************
// Written by: Map P.20131013 on Tue Jan 15 15:49:23 2019
//! **************************************************************************

SCHEMATIC START;
NET "CLK_50MHz_BUFGP/IBUFG" BEL "CLK_50MHz_BUFGP/BUFG.GCLKMUX"
        USELOCALCONNECT;
COMP "VGA_B" LOCATE = SITE "G15" LEVEL 1;
COMP "RGB<0>" LOCATE = SITE "H18" LEVEL 1;
COMP "VGA_G" LOCATE = SITE "H15" LEVEL 1;
COMP "RGB<1>" LOCATE = SITE "L14" LEVEL 1;
COMP "RGB<2>" LOCATE = SITE "L13" LEVEL 1;
COMP "VGA_R" LOCATE = SITE "H14" LEVEL 1;
COMP "CLK_50MHz" LOCATE = SITE "C9" LEVEL 1;
COMP "VGA_HS" LOCATE = SITE "F15" LEVEL 1;
COMP "VGA_VS" LOCATE = SITE "F14" LEVEL 1;
NET "CLK_50MHz_BUFGP/IBUFG" PERIOD = 20 ns HIGH 50%;
SCHEMATIC END;

